<div class="">
  <div class="card shadow mb-4">
    <table data-toggle="table" id="table_id" data-page-length='25' class="display table table-striped table-bordered">
      <thead class="card-header font-weight-bold text-primary chart-title">
        <tr>
          <%# <th></th> %>
          <th>ID</th>
          <th>Active Days/M</th>
          <th>Active Time/M</th>
          <th>Average Time/D</th>
        </tr>       
      </thead>
      <%# <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>           
        </tr>
      </tbody> %>
      <tfoot>
        <tr>
          <%# <th></th> %>
          <th>ID</th>
          <th>Active Days/M</th>
          <th>Active Time/M</th>
          <th>Average Time/D</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>