<div class="col-xl-4 col-lg-5">
  <div class="card shadow mb-4">
    <table data-toggle="table">
      <thead class="card-header font-weight-bold text-primary chart-title">
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Item Price</th>
        </tr>       
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Item 1</td>
        <td>$1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Item 2</td>
        <td>$2</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>