<% include ./partials/header %>

<div class="container-fluid">
  <%# Page Heading %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">

    <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Dashboard :
    <% if (typeof currentShow !== "undefined") { %> 
      <% if (currentShowType === "user") { %>
       <span class="font-weight-normal"><%= currentShow.display %></span></h1>
      <% } else if (currentShowType === "admin") {%>
       <span class="font-weight-normal">Org <%= currentShow.o_id %>'s <%= currentShow.o_name %></span></h1>
      <% } else if (currentShowType === "superadmin") {%>
       <span class="font-weight-normal">SuperAdmin</span></h1>
      <% } %>
    <% } %>

    <%# To show, add a d-sm-inline-block in class %>
    <a href="/dashboard/usernameupdate" class="d-none btn btn-sm btn-primary shadow-sm">update users name</a>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <%# Mobiscroll for calendar %>
  <%# <input id="calendar" class="d-none" placeholder="Please Select..."> %>

  <%# Content Row %>
  <div class="row">
  <% if (typeof cards !== "undefined") { %>
    <% include ./partials/card %>
  <% } %>
  </div>

  <%# Content Row %>
  <div class="row">
    <%# if (vm.chart.data.datasets.length > 0) { %>
      <% include ./partials/chart_area %>
    <%# } %>

    <% if (vm.currentLoginType != "user") { %>
    <% include ./partials/table %>
    <% } %>

    <%# if (typeof pie !== "undefined") { %>
      <%# if (!!vm.resPie) { %>
      <%# include ./partials/chart_pie %>
      <%# } %>
    <%# } %>

  </div>

  <%# Content Row %>
  <div class="row">

    <%# Content Column %>
    <div class="col-lg-6 mb-4">
      <% if (typeof users !== "undefined") { %>
      <% include ./partials/chart_bar %>
      <% } %>
    </div>

    <div class="col-lg-6 mb-4">

    </div>
  </div>

</div>

<% include ./partials/footer %>
