.bg-gradient {
  background-color: #8f75da;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #8f75da),
    to(#727cf5)
  );
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-image: linear-gradient(135deg, #8f75da 0, #727cf5 60%);
  background-size: cover;
}

.logo {
  background: url("../img/memorideRed_Whte_200x55.png");
  /* background: url("https://lh3.googleusercontent.com/qQXg6YSeDMosE8LL0yBFnUyfzNqCS7JJ6-ffqQ3KTlmXrJhaEptcUanzd9p04TLsilcdkXgH1vRHno_5eSb9EjdD=s450"); */
}

.my-tab {
  margin-bottom: -1rem;
}
.nav-tabs {
  border-bottom: 0px solid #dddfeb;
}

.my-arrows:hover {
  color: orange;
}
